// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$undGreen: #009A44;

span.glyphicon-ok {
    color: green;
}

span.glyphicon-remove {
    color: red;
}

select.form-control + span {
    width: 100% !important;
}
